<h3 class="mt-5">Edit Role</h3>

<%= render "form.html", Map.put(assigns, :action, routes().dashboard_role_path(@conn, :update, @role)) %>

<%= can_link @conn, "Back", to: routes().dashboard_role_path(@conn, :index) %>
