<h3>Edit User roles</h3>

<%= render "form.html", Map.put(assigns, :action, routes().dashboard_humo_rbac_user_role_path(@conn, :update, @user.user)) %>

<%= can_link @conn, "Back", to: routes().dashboard_humo_rbac_user_role_path(@conn, :index) %>
