<h3>Edit User roles</h3>

<%= render "form.html", Map.put(assigns, :action, routes().dashboard_user_role_path(@conn, :update, @user)) %>

<%= permitted_link @conn, "Back", to: routes().dashboard_user_role_path(@conn, :index) %>
